:root {
  --main-font: "Poppins", sans-serif;
  --white: #fff;
  --main-color: hsl(259, 100%, 65%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  --err: rgb(255, 141, 165);
}

html {
  font-size: 62.5%;
  /* 10px if browser default is 16px */
}

body {
  background-color: var(--off-white);
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Main container */
main.wrap {
  background-color: var(--white);
  position: relative;
  width: 90%;
  max-width: 840px;
  border-radius: 15px 15px 100px 15px;
  padding: 4rem 2.4rem;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

/* Input section */
.inputs {
  display: block;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding-bottom: 4rem;
  margin-bottom: 0rem;
  position: relative;
  /* Added for positioning button relative to inputs */
}


.inputs>input:focus {
  border-color: var(--main-color);
  outline: none;
}


@media (max-width: 600px) {
  .inputs {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.inputs>label {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--Smokey-grey);
  margin-bottom: 0.4rem;
}

.inputs>input {
  font-size: 2rem;
  width: 100%;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  padding: 1rem;
  font-weight: 700;
  font-family: var(--main-font);
}

@media (min-width: 768px) {
  .inputs>input {
    font-size: 3.2rem;
    padding: 1rem 2rem;
  }
}

.inputs>input::placeholder {
  color: var(--light-grey);
}

.inputs>input.err {
  border: 2px solid var(--err);
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Button - positioned center over the dividing line */
button.btn {
  width: 64px;
  height: 64px;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 50%;
  font-size: 2rem;
  transition: background-color 0.3s;
  bottom: 32px;
  /* Position exactly halfway over the line */
  
  z-index: 2;
}

@media (min-width: 768px) {
  button.btn {
    width: 60px;
    height: 60px;
    /* Adjust for larger button */
  }
}

button.btn:hover {
  background-color: var(--off-black);
}

/* Result section */
.results {
  margin-top: 4rem;
  /* Increased to accommodate centered button */
}

.result {
  font-size: 3.6rem;
  font-weight: 900;
  color: var(--off-black);
  line-height: 1.1;
  font-style: italic;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .result {
    font-size: 5.6rem;
  }
}

@media (min-width: 1024px) {
  .result {
    font-size: 8rem;
  }
}

.result>span {
  color: var(--main-color);
}

/* Footer */
.attribution {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.attribution a {
  color: var(--main-color);
  margin: 0 0.5rem;
}